body {
 background-color: #BBBBBB;
 color: #46185F;  
 font-family: 'Tahoma', sans-serif;;
 padding: 0.5rem;
 padding-left: 2rem;
 padding-top: 10px;
}

.header {
    text-align: center; 
    padding-top: 5px;
    padding-bottom: 2px;
}

.nav {
    position: sticky;
    top: 0px;
    height: auto;
}

.image-headshot {
    float: right;
    padding-top: 5px;
    margin-top: 0.5px;
    
}

.navigation {
    list-style-type: none;
    position: fixed;
    top: 0%;
    display: inline;
    width: 100%;
    padding: 5px;
    padding-left: 15px;
    background-color: #BBBBBB;
    border-style: dashed;
}

.navigation li {
    float: left;
    margin: 5px;
}


.navigation a{
    display: inline-block;
    border: 1px rgb(21, 21, 22);
    font-size: 15px;
    color: #46185F;  
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 10px 0px 0px;
    list-style: none;
    width: 100%;
}

.navigation a:hover{
    background-color: rgb(199, 211, 136);
}

#home, #about, #experience, #skills, #connect, #form, #messages {
    color: #297CA0;
    text-align: center;
}

#about {
    flex-wrap: wrap;
}

h1{
  font-size: 50px;  
  font-weight: bold;
  color: #297CA0;
  font-style: oblique;
  font-stretch: narrower;
  text-align: center;
  text-shadow: 10px 5px 6px rgb(110, 160, 180);
  padding: 1em;
  
}

h2{
    font-size: 30px;  
    font-weight: 350;
    color: #297CA0;
    font-style: neutro;
    font-stretch: narrower;
    text-align: center;
    font-weight: bold;
  }

#myabout {
    font-size: 20px;
    font-weight: lighter;
    font-style: unset;
    color: #297CA0;
    background-color: #BBBBBB;
    box-shadow: 3px 3px 3px #E9EA77;
    width: 70%;

}

#myexperience {
  border: 2px;
  font-size: 20px;
  font-weight: lighter;
  color: #297CA0;
  background-color: #BBBBBB;
  box-shadow: 3px 3px 3px #E9EA77;
  max-width: 98%;
} 

.experience_box {
   display: flex;
   flex-direction: row;
   border-radius: 15%;
   border-color: rgb(191, 70, 209);
}

.box {
    color: rgb(233, 233, 172);
    font-size: 15px;
    text-align: center;
}

.box_credit {
    background-color:  rgb(110, 162, 207);
    width: 30%;
    margin: 15px;
    padding: 20px;
    box-shadow: 3px 3px 3px rgb(126, 129, 146);
    border-radius: 5px;
}

.box_credit:hover {
    background-color: #E9EA77;
}

.box_auditor {
    background-color: #E9EA77;
    width: 30%;
    margin: 15px;
    padding: 20px;
    box-shadow: 3px 3px 3px rgb(126, 129, 146);
    border-radius: 5px;
}

.box_auditor:hover {
    background-color: rgb(168, 137, 178);
}

.box_photo {
    background-color: rgb(168, 137, 178);
    width: 30%;
    margin: 15px;
    padding: 20px;
    box-shadow: 3px 3px 3px rgb(126, 129, 146);
    border-radius: 5px;
}

.box_photo:hover {
    background-color: rgb(110, 162, 207);
}
  
#list {
    font-size: 20px;
    font-style: italic;
    color:#46185F;
    margin: 15px 15px 15px 15px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-gap: 20px;
  } 

  #list li {
    background-color:  #E9EA77;
    box-sizing: 30%;
    border-radius: 10%;
    box-shadow: 3px 3px 5px rgb(126, 129, 146);
    padding: 5px 5px 5px 5px;
  }

  .listConnect {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }

  .listConnect li {
    width: 50%;
    box-shadow: 3px 3px 3px rgb(217, 216, 137);
    margin: 20px;
  }

  /*.box_mail {
    width: 10%;
    align-items: center;
  }*/

#form {
    display: flex;
    flex-direction: row;
}

#leave_message {
    font-size: 20px;
    color:#46185F;
    /*background-color:  rgb(200, 210, 232);*/
    width: 90%;
} 

#name::before {
    *margin: 2%;
    background-color: #BBBBBB;
    box-shadow:  1px 1px 1px rgb(217, 216, 137);
    padding: 0.5%;
}

#email {
    margin: 2%;
    background-color: #BBBBBB;
    box-shadow:  1px 1px 1px rgb(217, 216, 137);
    padding: 0.5%;
}

#message {
    margin: 2%;
    background-color: #BBBBBB;
    box-shadow:  1px 1px 1px rgb(217, 216, 137);
    padding: 0.5%;
}

#submit:hover {
    border: 3px;
    border-color: rgb(102, 59, 84);
    background-color: rgb(168, 137, 178);
    border-radius: 10%;
    font-size: 20px;
    padding: 10px;
}

#messages {
    display: list-item;
    box-shadow: 3px 3px 3px rgb(217, 216, 137);
    background-color: #BBBBBB;
    padding: 0.5%;
}

#sendmessage{
    box-shadow: 3px 3px 3px rgb(217, 216, 137);
    background-color: #BBBBBB;
    font-size: 20px;
    padding: 1%;  
}

.box_leave_message {
    padding: 10px, 5px, 10px, 5px;
    text-align: center;
    background-color: #BBBBBB;
}

#footer {
    background-color: #BBBBBB;
    border-style: dashed;
    padding: 4px;
    width: 100%;
    height: 30px;
    font-size: 15px;
    text-align: center;

}

@media screen and (max-width: 600px){
    .body {
        font-size: 10px;
        background-color: aliceblue;
    }
}

@media screen and (min-width: 900px){
    .body {
        font-size: 20px;
        background-color: aliceblue;
    }
}