body {
 background-color: rgb(146, 164, 192);
 color: rgb(158, 17, 146);
 font-family: 'Geologica', sans-serif;;
 padding: 1rem;
 padding-left: 2rem;
}

#about, #experience, #skills, #connect, #form, #messages {
    padding: 0.2px;    
}

h1{
  font-size: 80px;  
  font-weight: bold;
  color: rgb(14, 30, 129);
  font-style: oblique;
  font-stretch: narrower;
}

h2{
    font-size: 40px;  
    font-weight: 380;
    color: rgb(27, 14, 207);
    font-style: oblique;
    font-stretch: narrower;
  }

#myabout {
    border: 5px;
    border-color: beige;
    border-style: ridge;
    font-size: 20px;
    font-weight: bold;
    font-style: unset;
    color:rgb(18, 56, 207);
    background-color: rgb(66, 169, 221);    
}

#myexperience {
  border: 5px;
  border-color: beige;
  border-style: ridge;
  font-size: 20px;
  font-weight: bold;
  color:rgb(18, 56, 207);
  background-color: rgb(66, 169, 221);

} 
  
#list {
    border: 5px;
    border-color: beige;
    border-style: ridge;
    font-size: 20px;
    font-style: italic;
    color:rgb(18, 56, 207);
    background-color: rgb(66, 169, 221);
  } 

#leave_message {
    border: 5px;
    border-color: beige;
    border-style: ridge;
    font-size: 20px;
    color:rgb(18, 56, 207);
    background-color: rgb(66, 169, 221);
} 

#name {
    margin: 2%;
    border: 8px;
    border-color: rgb(92, 176, 249);
    background-color: rgb(149, 202, 248);
    padding: 0.5%;
}

#email {
    margin: 2%;
    border: 8px;
    border-color: rgb(92, 176, 249);
    background-color: rgb(149, 202, 248);
    padding: 0.5%;
}

#message {
    margin: 2%;
    border: 8px;
    border-color: rgb(92, 176, 249);
    background-color: rgb(149, 202, 248);
    padding: 0.5%;
}

#submit:hover {
    border: 10px;
    border-color: rgb(172, 9, 104);
    background-color: rgb(229, 76, 193);
    border-radius: 15%;
    font-size: 20px;
    padding: 1%;

}

#messages {
    border: 8px;
    border-color: rgb(17, 80, 136);
    background-color: rgb(29, 146, 249);
    padding: 0.5%;
    border-radius: 10%;
}

#sendmessage{
    border: 10px;
    border-color: rgb(172, 9, 104);
    background-color: rgb(229, 76, 193);
    border-radius: 15%;
    font-size: 20px;
    padding: 1%;  
}

#footer {
    background-color: rgb(190, 205, 237);
    padding: 0.5%;
}